
html {
    height: 100%;
}
body { 
    min-height: 100%;
    background-color: black;
}

#map {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#crosshair {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    margin: -14px 0px 0px -8px;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-size: 25px;
    opacity: 0.75;
}

.ui-header, .ui-footer {
    text-align: center;
}

#pageDetails header div div div:last-child { /* save button container */
    width: 10em;
}
#deleteButton {
    background-color: red;
}

.ui-icon-pm-spinner {
    background-image: url(../img/ajax-loader.gif);
    background-size: 18px 18px;
}

