
html {
    height: 100%;
}
body { 
    min-height: 100%;
    background-color: black;
}

#map {
    margin: 0;
    padding: 0;
    position: absolute;
}

.ui-header, .ui-footer {
    text-align: center;
}

