
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: black;
}

#map {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
#crosshair {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    margin: -14px 0px 0px -8px;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-size: 25px;
    opacity: 0.75;
}

.ui-header, .ui-footer {
    text-align: center;
}

#pageDetails header div div div:last-child { /* save button container */
    width: 10em;
}
#deleteButton {
    background-color: red;
}

body:after { /* http://www.thecssninja.com/css/even-better-image-preloading-with-css2 */
    content: url(../img/ajax-loader.gif);
    display: none;
}
.ui-icon-pm-spinner {
    background-image: url(../img/ajax-loader.gif);
    background-size: 18px 18px;
}

/* style for toggling button on (same as pressed down style from jQM) */
.ui-btn-on-a {
	border: 1px solid #000 /*{a-bdown-border}*/;
	background: #222 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #202020 /*{a-bdown-background-start}*/), to( #2c2c2c /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/);
}
.ui-btn-on-a:visited, .ui-btn-on-a:hover, .ui-btn-on-a a.ui-link-inherit {
	color: #fff /*{a-bdown-color}*/;
}
.ui-btn-on-a {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* better missing tile style */
img.olImageLoadError {
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0); /* IE */
}

#search-input-wrapper {
  padding-bottom: 28px;
}

.ui-popup-screen.in {
    opacity: 0.9;
    filter: Alpha(Opacity=90);
}

.ui-disabled {
    filter: Alpha(Opacity=70);
    opacity: .7;
}